* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header Section */

.header {
    width: 100%;
    height: auto;
}

.header .fa-bars {
    display: none;
}

.header .header-img {
    margin-top: 80px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid white;
}

.header .navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid lightgray;
    transition: all 0.5s ease;
    z-index: 2;
}

.header .navbar .sf-logo {
    width: 70px;
}

.header .navbar .logo-content {
    width: auto;
    display: flex;
    align-items: center;
}

.header .navbar .logo-content .logo-text {
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 10px;
    color: rgb(122, 72, 170);
}

.header .navbar .logo-content .logo {
    width: 60px;
}

.header .navbar .nav-items {
    display: flex;
    width: auto;
    list-style: none;
}

.header .navbar .nav-items .nav-item {
    width: auto;
    height: auto;
}

.header .navbar .nav-items .nav-item .nav-link {
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    font-family: sans-serif;
    color: gray;
}

.header .navbar .nav-items .nav-item .nav-link:hover {
    color: lightgray;
}


/* Support Section */

.support-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgba(101,1,150,1) 0%, rgba(190,91,191,1) 54%, rgba(231,181,245,1) 100%);
    border-bottom: 1px solid white;
}

.support-section .support-content {
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray ;
    border-radius: 4px;
    
}

.support-section .support-content .logo {
    width: 80px;
    height: 73px;
}

.support-section .support-content .title {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: 400;
}

.support-section .support-content .text {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    font-style: italic;
}

.support-section .support-content .btn-blue {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(19, 106, 200);
    border-radius: 5px;
}

/* Features Section  */

.features {
    width: 100%;
    height: auto;
    position: relative;
}

.features .feature-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.features .features-container {
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

.features .features-container {
    width: 100%;
    height: 100%;
}

.features .features-container .features-header {
    max-width: 500px;
    height: auto;
    margin: 0 auto 50px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.features .features-container .features-header .title {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200;
}

.features .features-container .features-body {
    height: calc(100% - 50px);
    width: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features .features-container .features-body .feature-card {
    width: 450px;
    height: 350px;
    border: 1px solid gray;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    opacity: 0.9;
}

.features .features-container .features-body .feature-card .card-header {
    width: 100%;
    height: auto;
}

.features .features-container .features-body .feature-card .card-header .feature-text {
    font-family: sans-serif;
    display: block;
    line-height: 25px;
    text-align: center;
}

.features .features-container .features-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.features .features-container .features-footer .title {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200;
}

.features .features-container .features-body .feature-card .card-body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.features .features-container .features-body .feature-card .card-body .card-img {
    width: 75%;
    margin-top: 25px;
}


/* Footer  */

footer {
    background-color: #ffffff;
    /* border-top: 1px solid gray; */
}

footer p {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

footer .container {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
}

footer .container .footer-logo {
    width: 50px;
    margin-bottom: 10px;
}

footer .contact-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

footer .contact-info p {
    margin: 5px 0;
    font-size: 13px;
    font-style: italic;
    margin: 0 7px;
}

footer .contact-info .link {
    text-decoration: none;
    margin-left: 5px;
    color: rgb(69, 69, 69);
}


/* Mobile  */

@media screen and (max-width:799px) {
     .support-section .support-content {
        width: 500px;
        height: 180px;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .support-section .support-content .logo {
        width: 40px;
        height: 37px;
    }
    
     .support-section .support-content .title {
        font-size: 18px;
        font-family: sans-serif;
        margin-top: 10px;
        font-weight: 400;
    }
    
     .support-section .support-content .text {
        font-size: 12px;
        font-family: sans-serif;
        margin-top: 20px;
        font-style: italic;
    }
    
     .support-section .support-content .btn-blue {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        background-color: rgb(19, 106, 200);
        border-radius: 3px;
    }

    /* Features Section  */

    .features .features-container {
        padding: 50px 30px;
    }

    .features .features-container .features-body .feature-card {
        width: 350px;
        height: 300px;
    }

    .features .features-container .features-body .feature-card .card-header .feature-text {
        line-height: 20px;
        font-size: 13px;
    }


    /* Header  */

    .header .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .header .navbar .fa-bars {
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 35px;
        color: rgb(214, 214, 214);
        cursor: pointer;
    }

    .header .navbar .logo-content {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .navbar .logo-content .logo {
        width: 50px;
    }

    .header .navbar .logo-content .logo-text {
        display: none;
    }

    .header .navbar .sf-logo {
        width: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .header .navbar .nav-items {
        padding: 0 30px;
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: white;
        border-bottom: 1px solid lightgray;
    }

    .header .navbar .nav-items .nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header .navbar .nav-items .nav-item:nth-child(1) {
        border-bottom: 1px solid lightgray;
    }

    .header .navbar .nav-items .nav-item .nav-link {
        font-size: 13px;
        padding: 10px 15px;
        display: block;
        width: 100px;
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: gray;
    }

    /* Footer  */

    footer .contact-info {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }
    
}

@media screen and (max-width:500px) {
     .support-section .support-content {
        width: 350px;
        height: 200px;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .support-section .support-content .logo {
        width: 40px;
        height: 35px;
    }
    
     .support-section .support-content .title {
        font-size: 15px;
        font-family: sans-serif;
        margin-top: 10px;
        font-weight: 400;
    }
    
     .support-section .support-content .text {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        font-style: italic;
        text-align: center;
    }
    
     .support-section .support-content .btn-blue {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        padding: 8px 15px;
        text-decoration: none;
        color: white;
        background-color: rgb(19, 106, 200);
        border-radius: 5px;
    }
}