* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header Section */

.header {
    width: 100%;
    height: auto;
    position: relative;
}

.header .fa-bars {
    display: none;
}

.header .img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    /* margin-top: 80px; */
    background: url("/img/Purple\ Gradient\ Geometric\ Flat\ Advertising\ Background\ Wallpaper\ Image\ For\ Free\ Download\ -\ Pngtree\ 1.png") center center/cover;
}

.header .img-section .img-content {
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .img-section .img-content .logo {
    width: 80px;
    height: 73px;
}

.header .img-section .img-content .title {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: 400;
}

.header .img-section .img-content .text {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    font-style: italic;
}

.header .img-section .img-content .btn-blue {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(19, 106, 200);
    border-radius: 5px;
}

.header .navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid gray;
    transition: all 0.5s ease;
    z-index: 2;
}

.header .navbar .sf-logo {
    width: 70px;
}

.header .navbar .logo-content {
    width: auto;
    display: flex;
    align-items: center;
}

.header .navbar .logo-content .logo-text {
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 10px;
    color: rgb(122, 72, 170);
}

.header .navbar .logo-content .logo {
    width: 60px;
}

.header .navbar .nav-items {
    display: flex;
    width: auto;
    list-style: none;
}

.header .navbar .nav-items .nav-item {
    width: auto;
    height: auto;
}

.header .navbar .nav-items .nav-item .nav-link {
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    font-family: sans-serif;
    color: gray;
}

.header .navbar .nav-items .nav-item .nav-link:hover {
    color: lightgray;
}


/* Footer  */

footer {
    background-color: #ffffff;
}

footer p {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

footer .container {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
}

footer .container .footer-logo {
    width: 50px;
    margin-bottom: 10px;
}

footer .contact-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

footer .contact-info p {
    margin: 5px 0;
    font-size: 13px;
    font-style: italic;
    margin: 0 7px;
}

footer .contact-info .link {
    text-decoration: none;
    margin-left: 5px;
    color: rgb(69, 69, 69);
}


/* Mobile  */

@media screen and (max-width:799px) {

    .header .img-section .img-content {
        position: absolute;
        width: 500px;
        height: 180px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .img-section .img-content .logo {
        width: 40px;
        height: 37px;
    }
    
    .header .img-section .img-content .title {
        font-size: 18px;
        font-family: sans-serif;
        margin-top: 10px;
        font-weight: 400;
    }
    
    .header .img-section .img-content .text {
        font-size: 12px;
        font-family: sans-serif;
        margin-top: 20px;
        font-style: italic;
    }
    
    .header .img-section .img-content .btn-blue {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        background-color: rgb(19, 106, 200);
        border-radius: 3px;
    }

    /* Header  */

    .header .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .header .navbar .fa-bars {
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 35px;
        color: rgb(214, 214, 214);
        cursor: pointer;
    }

    .header .navbar .logo-content {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .navbar .logo-content .logo {
        width: 50px;
    }

    .header .navbar .logo-content .logo-text {
        display: none;
    }

    .header .navbar .sf-logo {
        width: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .header .navbar .nav-items {
        padding: 0 30px;
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: white;
        border-bottom: 1px solid lightgray;
    }

    .header .navbar .nav-items .nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header .navbar .nav-items .nav-item:nth-child(2), .nav-item:nth-child(1) {
        border-bottom: 1px solid lightgray;
    }

    .header .navbar .nav-items .nav-item .nav-link {
        font-size: 13px;
        padding: 10px 15px;
        display: block;
        width: 100px;
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: gray;
    }

    /* Footer  */

    footer .contact-info {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
}


@media screen and (max-width:500px) {
    .header .img-section .img-content {
        position: absolute;
        width: 350px;
        height: 200px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .img-section .img-content .logo {
        width: 40px;
        height: 35px;
    }
    
    .header .img-section .img-content .title {
        font-size: 15px;
        font-family: sans-serif;
        margin-top: 10px;
        font-weight: 400;
    }
    
    .header .img-section .img-content .text {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        font-style: italic;
        text-align: center;
    }
    
    .header .img-section .img-content .btn-blue {
        font-size: 10px;
        font-family: sans-serif;
        margin-top: 20px;
        padding: 8px 15px;
        text-decoration: none;
        color: white;
        background-color: rgb(19, 106, 200);
        border-radius: 5px;
    }
}